name: Debricked scan

on: [push]

env: 
  DEBRICKED_TOKEN: ${{secrets.DEBRICKED_TOKEN}}

jobs:
  vulnerabilities-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: curl -L https://github.com/debricked/cli/releases/latest/download/cli_linux_x86_64.tar.gz | tar -xz debricked
      - run: ./debricked scan . --access-token DEBRICKED_TOKEN
